/* .hide {
  display: none;
  color: red;
} */

body {
  background-color: black;
  text-align: center;
  color: white;
}

h1 {


}

.scroll {
  overflow: scroll;
  margin-top: 350px;
  margin-left: 350px;
  height: 200px;
  width: 500px;
}
.red {
  font-family: 'Fredericka the Great', cursive;
  color: red;
  font-size: 130px;
}

.red2 {
  font-family: 'Fredericka the Great', cursive;
  color: red;
  font-size: 17px;
}

.white {
  font-family: 'Raleway Dots', cursive;
  color: white;
  font-size: 100px;
}
h5 {

  color: white;
}

button {

}

.bothInputs {
  display: grid;
}
